:root {
  --bg-color: rgb(243, 241, 241);
  --text-color: rgb(50, 60, 70);
  --accent: rgb(44, 118, 192);
  --border-color: rgb(211, 211, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

a {
  color: var(--accent);
  text-decoration: none;
}