:root {
  --bg-color: rgb(243, 241, 241);
  --text-color: rgba(50, 60, 70);
  --accent: rgb(44, 118, 192);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}

.container {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

a {
  color: var(--accent);
  text-decoration: none;
}