.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 20px;
}

.site-brand {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-links a {
  color: var(--text-color);
}

.nav-links span {
  display: none; 
}

.nav-links a:hover {
  color: var(--accent-color);
}