.heading {
  text-align: center;
  font-size: 35px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  align-items: center;
  gap: 40px;
}

.hero-description {
  flex: 5;
}

.links {
  margin-top: 25px;
}

.links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-icon {
  flex: 2;
  display: flex;
  justify-content: right;
  border-radius: 50%;
  width: 300px;
}

/* Section 2: Skills*/
.skills {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.skill-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skill-name {
  font-size: 18px;
}