@media (min-width: 600px) {
  .site-nav {
    padding-inline: 50px;
  }

  .nav-label {
    display: inline;
  }
}

@media (min-width: 700px) {
    .container {
      flex-direction: row;
      align-items: center;
    }

    .hero {
      flex-direction: row;
      align-items: center;
    }

    .hero-content {
      width: 50%;
    }

    .image-container {
      width: 50%;
      order: 0;
    }

    .hero-img {
      width: 300px;
    }

}