@media (max-width: 850px) {
  .heading {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .hero {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-items a span {
    display: none;
  }

  .nav-items a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  .nav-items a {
    font-size: 22px;
  }

  .hero {
    padding: 0 20px;
  }

  .heading {
    font-size: 30px;
  }

  .skills {
    padding: 0 20px;
  }

  .skill-name {
    font-size: 16px;
  }
}